<div class="mt-4 flex flex-wrap gap-3">
  <%= link_to "View Roster",
              shelter_animals_path(@shelter),
              class: "btn btn-primary" %>

  <%= link_to "Intake New Animal",
              new_shelter_animal_path(@shelter),
              class: "btn btn-outline" %>
</div>
